
@{
    ViewBag.Title = "Image";
}
<style>
    li{
        float:left;
        margin-left:20px;
        list-style:none;
    }
</style>

<h2>Image</h2>

<div>
    <ul>
        <li>
            <img alt="图" src="@Url.Action("Image",new { id="hh"})" />
        </li>
        <li>
            <img alt="图" src="@Url.Action("Image",new { id="hh"})" />
        </li>
        <li>
            <img alt="图" src="@Url.Action("Image",new { id="hh"})" />
        </li>
        <li>
            <img alt="图" src="@Url.Action("Image",new { id="hh"})" />
        </li>
        <li>
            <img alt="图" src="@Url.Action("Image",new { id="hh"})" />
        </li>

    </ul>
</div>
